/* color palette */
$primary-theme-bg: #ff6b35;
$secondary-theme-bg: #f7931e;


/* fonts */
$hero-section-font-col: #fff;
$item-title-font-col: #333;
$item-body-font-col: #666;
$item-meta-data-font-col: #888;
$section-title-font-col: #333;




