<aside class="admin-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav-list">
            
             <li><a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item" >📊 <span>Dashboard</span></a></li>
           
            <li><a routerLink="/admin/playlists/view-playlists" routerLinkActive="active" class="nav-item" >📝 <span>Playlists</span></a></li>
            <li><a routerLink="/admin/confessions" routerLinkActive="active" class="nav-item" >💬 <span>Confessions</span></a></li>
            <li><a routerLink="/admin/team/" routerLinkActive="active" class="nav-item" >👥 <span>Team</span></a></li>
        </ul>
    </nav>
</aside>
