<aside class="admin-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <li><a href="/admin/dashboard" class="nav-item active" >📊 Dashboard</a></li>
            <!-- <li><a href="#episodes" class="nav-item" >🎙️ Episodes</a></li> -->
            <li><a routerLink="/admin/playlists/view-playlists" class="nav-item" >📝 Playlists</a></li>
            <li><a routerLink="/admin/confessions" class="nav-item" >💬 Confessions</a></li>
            <li><a routerLink="/admin/team/" class="nav-item" >👥 Team</a></li>
        </ul>
    </nav>
</aside>
